# --- OS / ユーザー環境 ---
AppData/
Thumbs.db
.DS_Store

# --- Python / Django ---
__pycache__/
*.pyc
.venv/
venv/
.env
db.sqlite3
media/
staticfiles/

# --- IDE ---
.vscode/
.idea/
AppData/
Thumbs.db

media/
staticfiles/
