{% extends "attendance/base.html" %}
{% block title %}勤怠一覧{% endblock %}
{% block content %}
<h1 class="title">勤怠一覧</h1>

<div class="box">
  <form method="get" action="{% url 'attendance_search' %}">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" name="q" placeholder="社員番号 / 氏名 / 備考 で検索">
      </div>
      <div class="control">
        <button class="button is-link" type="submit">検索</button>
      </div>
    </div>
  </form>
</div>

<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>勤務日</th>
        <th>社員番号</th>
        <th>氏名</th>
        <th>出勤</th>
        <th>退勤</th>
        <th>勤務時間[h]</th>
        <th>時給</th>
        <th>支給額</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      {% for a in attendances %}
      <tr>
        <td>{{ a.work_date|date:"Y-m-d" }}</td>
        <td>{{ a.employee.code }}</td>
        <td>{{ a.employee.name }}</td>
        <td>{% if a.time_in %}{{ a.time_in|time:"H:i" }}{% endif %}</td>
        <td>{% if a.time_out %}{{ a.time_out|time:"H:i" }}{% endif %}</td>
        <td>{{ a.work_hours }}</td>
        <td>{{ a.employee.hourly_rate }}</td>
        <td>{{ a.wage_amount }}</td>
        <td>{{ a.note }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="9">データがありません。</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
