{% extends "attendance/base.html" %}
{% block title %}ダウンロード{% endblock %}
{% block content %}
<h1 class="title">Excelダウンロード</h1>
<div class="box">
  <div class="buttons">
    <a class="button is-link" href="{% url 'employee_export' %}">従業員.xlsx</a>
    <a class="button is-link is-info" href="{% url 'shift_export' %}">シフト.xlsx</a>
    <a class="button is-link is-success" href="{% url 'attendance_export' %}">勤怠状況.xlsx</a>
  </div>
  <p class="help">クリックすると .xlsx をダウンロードします。</p>
</div>
{% endblock %}
