{% extends "attendance/base.html" %}
{% block title %}従業員登録{% endblock %}
{% block content %}
<div class="is-narrow-form">
  <h1 class="title">従業員登録</h1>
  <form method="post" class="box">
    {% csrf_token %}
    <div class="field">
      <label class="label">社員番号</label>
      <div class="control">{{ form.code }}</div>
      {{ form.code.errors }}
    </div>
    <div class="field">
      <label class="label">氏名</label>
      <div class="control">{{ form.name }}</div>
      {{ form.name.errors }}
    </div>
    <div class="field">
      <label class="label">時給</label>
      <div class="control">{{ form.hourly_rate }}</div>
      {{ form.hourly_rate.errors }}
    </div>
    <div class="field">
      <label class="checkbox">{{ form.is_active }} 在籍</label>
      {{ form.is_active.errors }}
    </div>
    <div class="buttons">
      <button class="button is-link" type="submit">登録</button>
    </div>
  </form>
</div>
{% endblock %}
