{% extends "attendance/base.html" %}
{% block title %}従業員削除{% endblock %}
{% block content %}
<div class="is-narrow-form">
  <h1 class="title">従業員削除</h1>
  <form method="post" class="box">
    {% csrf_token %}
    <div class="field">
      <label class="label">対象</label>
      <div class="control">{{ form.employee }}</div>
      {{ form.employee.errors }}
    </div>
    <div class="notification is-warning is-light">
    </div>
    <div class="buttons">
      <button class="button is-danger" type="submit">在籍OFFにする</button>
    </div>
  </form>
</div>
{% endblock %}
