{% extends "attendance/base.html" %}
{% block title %}打刻{% endblock %}
{% block content %}
<div class="is-narrow-form">
  <h1 class="title">打刻</h1>
  <form method="post" class="box">
    {% csrf_token %}
    <div class="field">
      <label class="label">従業員</label>
      <div class="control">
        {{ form.employee }}
      </div>
      {% if form.employee.errors %}
      <p class="help is-danger">{{ form.employee.errors.0 }}</p>
      {% endif %}
    </div>
    <div class="buttons">
      <button class="button is-success" name="action" value="in" type="submit">出勤・しごとをはじめる</button>
      <button class="button is-warning" name="action" value="out" type="submit">退勤・しごとをおわる</button>
    </div>
  </form>
</div>
{% endblock %}
