{% extends "attendance/base.html" %}
{% block title %}シフト登録{% endblock %}
{% block content %}
<div class="is-narrow-form">
  <h1 class="title">シフト登録</h1>
  <form method="post" class="box">
    {% csrf_token %}
    <div class="field">
      <label class="label">従業員</label>
      <div class="control">{{ form.employee }}</div>
      {{ form.employee.errors }}
    </div>
    <div class="field">
      <label class="label">日付</label>
      <div class="control">{{ form.date }}</div>
      {{ form.date.errors }}
    </div>
    <div class="field">
      <label class="label">開始</label>
      <div class="control">{{ form.start_time }}</div>
      {{ form.start_time.errors }}
    </div>
    <div class="field">
      <label class="label">終了</label>
      <div class="control">{{ form.end_time }}</div>
      {{ form.end_time.errors }}
    </div>
    <div class="field">
      <label class="label">備考</label>
      <div class="control">{{ form.note }}</div>
      {{ form.note.errors }}
    </div>
    <div class="buttons">
      <button class="button is-link" type="submit">登録</button>
    </div>
  </form>
</div>
{% endblock %}
