{% extends 'attendance/base.html' %}
{% block title %}勤怠管理{% endblock %}
{% block content %}
<form action='{% url "attendance_search" %}' method='get' class='field has-addons'>
    <div class='control'><input class='input' type='text' name='q' placeholder='社員番号・氏名・備考'></div>
    <div class='control'><button class='button is-info'>検索</button></div>
</form>

<table class='table is-striped is-fullwidth'>
    <thead>
        <tr><th>日付</th><th>社員番号</th><th>氏名</th><th>出勤</th><th>退勤</th><th>備考</th></tr>
    </thead>
    <tbody>
        {% for a in attendances %}
        <tr>
            <td>{{ a.work_date }}</td>
            <td>{{ a.employee.code }}</td>
            <td>{{ a.employee.name }}</td>
            <td>{{ a.time_in }}</td>
            <td>{{ a.time_out }}</td>
            <td>{{ a.note }}</td>
        </tr>
        {% empty %}
        <tr><td colspan='6'>データがありません。</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
