{% extends 'attendance/base.html' %}
{% block title %}従業員の削除{% endblock %}

{% block content %}
<h1 class="title">従業員の削除</h1>

<form method="post" class="box">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="field">
    <div class="control">
      {{ form.code }}
    </div>
    <p class="help is-danger">{{ form.code.errors }}</p>
  </div>

  <div class="field">
    <div class="control">
      {{ form.name }}
    </div>
    <p class="help is-danger">{{ form.name.errors }}</p>
  </div>

  {{ form.confirm }}  {# hidden #}

  <div class="field">
    <button type="submit" class="button is-danger">削除する</button>
  </div>
</form>
{% endblock %}
